.wrapper {
    background-color: white;
    border-radius: 10PX;
    width: 800px;
    padding: 15px;
    margin: 50PX auto;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    font-size: 250%;
    text-decoration: none;
    color: black;
}

.greatens {
    background-color: white;
    border-radius: 10PX;
    width: 800px;
    padding: 0 10px;
    margin: 15PX auto;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}