.wrapper{
   background-color: #6F8EEF;
   height: 100%;
   width: 100%;
   margin : auto;
   padding: auto;
   display: flex;
   justify-content: center;
}

.nameWrap {
   font-size: 300%;
   padding: 5px;
   font-family: sans-serif ;
   text-align: center;
   margin: auto;

}

.desciptionWrap {
   margin: auto;
   font-family: cursive;
   text-align: center;
   padding: auto;
   font-size: 200%;
   justify-content: center;
   display: flex;
   position: flex;
   margin-right: 100px;
}

.imgWrap{
   border-radius: 15px;
   padding: 0;
}

.userCard{
   width: 100%;
   padding: 13px;
    border-radius: 9px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    min-width: 430px;
    text-decoration: none;
    padding: 4px;
    margin: 5px auto;
    align-items: center;
    justify-content: space-between;
    img{
      align-content: left;
      border-radius: 15px;
      height: 400px;
      padding: 10px;
    }

}


