.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.formContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.button {
  display: inline;

  padding: 0.9rem;

  font-size: 0.9rem;

  background-color: #43cc79;
  color: #fff;

  border: none;
  border-radius: 0.5rem;
  outline: none;

  cursor: pointer;
}

.delete_button {
  background-color: #e71818;
}